<div id="edit-user-form">
    <table class="table table-condensed">
        <tr>
            <th class="col-md-1"></th>
            <th class="col-md-2">Name</th>
            <th class="col-md-2">Email</th>
        </tr>
        <tr ng-hide="editSwitch">
            <td><a id="edit-button" type="button" ng-show="isLoggedIn" ng-hide="poster" class="btn btn-success"
                   ng-click="editSwitch=!editSwitch">Edit</a></td>
            <td id="current-name">{{loggedInUser.name }}</td>
            <td id="current-email">{{loggedInUser.email}}</td>
        </tr>

        <tr ng-show="editSwitch">
            <td><a id="save-button" type="button" ng-show="isLoggedIn" ng-hide="poster" class="btn btn-success"
                   ng-click="editSwitch=!editSwitch; updateMyaccount(loggedInUser.name, loggedInUser.email)">Save</a></td>
            <td><input id="name-input" ng-model="loggedInUser.name"/></td>
            <td><input id="email-input" ng-model="loggedInUser.email"/></td>
        </tr>
    </table>
</div>