<div class="container">

    <div id="userDetails" ng-model="user">

        <h3>User Details for {{user.handle}}</h3>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Email</th>
                <td>{{user.email}}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{user.name}}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="button" id="follow" class="btn btn-lg btn-primary btn-block" ng-click="followUser()">{{toFollow}}</button>
                </td>
            </tr>
            </thead>
        </table>
    </div>

    <!--<div id="userFollowers" ng-model="user">-->
        <!--<h4>Followers of {{user.handle}}</h4>-->
        <!--<p><label>Following:</label> {{user.followers.length}}</p>-->
        <!--<div class="custom-scrollable">-->
            <!--<table class="table table-striped">-->
                <!--<tbody>-->
                <!--&lt;!&ndash;-->
                     <!--//  S4: Clicking on the posting user’s name in a message will route to the user’s detail page-->
                    <!--//      when rendering message.author.handle wrap in link to detail page-->
                    <!--//   * link needs to be created to the userDetail page-->
                  <!--&ndash;&gt;-->
                <!--<tr ng-repeat="follower in user.followers">-->
                    <!--<td colspan="2">{{follower.handle}}</td>-->
                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
    <!--</div>-->
    <div id="userMessages" ng-model="messages">
        <h4>Posts by {{user.handle}}</h4>
        <p><label>Message Count:</label> {{messages.length}}</p>
        <div class="custom-scrollable">
            <table class="table table-striped">
                <tbody>
                <!--
                     //  S4: Clicking on the posting user’s name in a message will route to the user’s detail page
                    //      when rendering message.author.handle wrap in link to detail page
                    //   * link needs to be created to the userDetail page
                  -->
                <tr ng-repeat="message in messages">
                    <td colspan="2">{{message.text}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>